@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*Normalize the webpage*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}
:root{
    --bg-color: ;
    --secon-bgcolor: #082e86;
    --text-color: #ffffff;
    --secon-text-color: #000000;
    --hover-color: #0cf7ff;
}
.header{
    width: 100%;
    height: 30px;
    padding: 2rem 9%;
    background-color: var(--secon-bgcolor);
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 400;
    cursor: default;
}
span{
    color: var(--text-color);
}
.navbar a{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 2rem;
    font-weight: 700;
}